/* Sidebar */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar-left {
    margin-left: 0;
}

#sidebar-left.active {
    margin-left: -250px;
}

#sidebar-right {
    margin-right: 0;
}

#sidebar-right.active {
    margin-right: -250px;
}

#content {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Sortable */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.sortable li.placeholder {
    list-style-type: none;
    position: relative;
}
ul.sortable li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: #FF0000;
    border-right: none;
}

.list-group-compact > .list-group-item {
    padding: 3px 10px;
}

.settings-list > .list-group-item {
    padding: 10px 10px;
}

/* Body */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#render-surface {
    display: block;
    width: 100%;
    height: 100vh;
}

.btn-sidebar {
    width: 25px !important;
    height: 25px !important;
    padding: 0;
    box-shadow: none !important;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

#content {
    overflow:hidden;
}